<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns= "http://www.springframework.org/schema/beans"
xmlns:xsi= "http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation= "http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd" >


	<bean id="house" class= "com.dto.House">
		<property name="address" value="Delhi" />
		<constructor-arg>
			<bean class="com.dto.Kitchen">
				<property name="type" value="open" />
			</bean>
		</constructor-arg>
	</bean>
	
</beans>