<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd 


http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd 

">


	<context:annotation-config />

	<import resource="spring-11-convertDate.xml" />
	<bean id="item" class="com.dto.Item">
		<property name="name" value="Lenovo-k6-power" />
		<property name="manufacturingDate" value="30-07-2017" />
		<!-- <property name="manufacturedCompany" ref="lenovo" /> -->
	</bean>

	<bean id="lenovo" class="com.dto.Company">
		<property name="address" value="China" />
	</bean>

	<bean id="iphone" class="com.dto.Company">
		<property name="address" value="Japan" />
	</bean>

	<bean id="receipt" class="com.dto.Invoice">
		<property name="purchased" value="true" />
	</bean>

</beans>